In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import pickle

In [4]:
df = pd.read_csv("cleaned_tourist.csv")
df.head()

   year    month   originCountry  dollarRate  consumerPriceIndex  totalCount
0  2024  January           India       315.7               185.5       34399
1  2024  January          Russia       315.7               251.3       31159
2  2024  January  United Kingdom       315.7               130.0       16665
3  2024  January         Germany       315.7               117.6       13593
4  2024  January           China       315.7               103.1       11511

In [5]:
df['year'].value_counts()

year
2024    120
2022    120
2023    120
2021    120
2019    120
2018    120
2020     30
Name: count, dtype: int64

In [6]:
df['month'].value_counts()

month
January      70
February     70
March        70
April        60
May          60
June         60
July         60
August       60
September    60
October      60
November     60
December     60
Name: count, dtype: int64

In [8]:
country_stats = df['originCountry'].value_counts()

countries_less_than_10 = country_stats[country_stats < 10]

df['originCountry'] = df['originCountry'].apply(lambda x: 'Other' if x in countries_less_than_10 else x)

print(df['originCountry'].value_counts())

originCountry
Germany           75
United Kingdom    74
India             73
France            70
Australia         65
Russia            63
United States     63
China             56
Canada            51
Maldives          48
Other             41
Netherlands       18
Ukraine           14
Spain             14
Switzerland       13
Poland            12
Name: count, dtype: int64

In [10]:
df['dollarRate'].value_counts()

dollarRate
199.00    40
197.00    20
315.70    10
297.25    10
301.80    10
          ..
161.40    10
169.00    10
175.30    10
178.50    10
182.60    10
Name: count, Length: 71, dtype: int64