In [12]:
import numpy as np 
import pandas as pd

In [13]:
df=pd.read_csv("touristData.csv")
df.head()

,year,month,originCountry,totalCount,dollarRate,apparent_temperature_mean_celcius,sunshine_duration_seconds,rain_sum_mm,precipitation_hours,num_establishments,num_rooms,AirPassengerFaresIndex,consumerPriceIndex
0,2024,January,India,34399,315.7,30.787654,33462.04969,7.67284,7.012346,4519,55455,178.0,185.5
1,2024,January,Russia,31159,315.7,30.787654,33462.04969,7.67284,7.012346,4519,55455,178.0,251.3
2,2024,January,United Kingdom,16665,315.7,30.787654,33462.04969,7.67284,7.012346,4519,55455,178.0,130.0
3,2024,January,Germany,13593,315.7,30.787654,33462.04969,7.67284,7.012346,4519,55455,178.0,117.6
4,2024,January,China,11511,315.7,30.787654,33462.04969,7.67284,7.012346,4519,55455,178.0,103.1

In [14]:
df.shape

(750, 13)

In [15]:
df.isnull().sum()

year                                 0
month                                0
originCountry                        0
totalCount                           0
dollarRate                           0
apparent_temperature_mean_celcius    0
sunshine_duration_seconds            0
rain_sum_mm                          0
precipitation_hours                  0
num_establishments                   0
num_rooms                            0
AirPassengerFaresIndex               0
consumerPriceIndex                   0
dtype: int64

In [16]:
df.dtypes

year                                   int64
month                                 object
originCountry                         object
totalCount                             int64
dollarRate                           float64
apparent_temperature_mean_celcius    float64
sunshine_duration_seconds            float64
rain_sum_mm                          float64
precipitation_hours                  float64
num_establishments                     int64
num_rooms                              int64
AirPassengerFaresIndex               float64
consumerPriceIndex                   float64
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   year                               750 non-null    int64
 1   month                              750 non-null    object
 2   originCountry                      750 non-null    object
 3   totalCount                         750 non-null    int64
 4   dollarRate                         750 non-null    float64
 5   apparent_temperature_mean_celcius  750 non-null    float64
 6   sunshine_duration_seconds          750 non-null    float64
 7   rain_sum_mm                        750 non-null    float64
 8   precipitation_hours                750 non-null    float64
 9   num_establishments                 750 non-null    int64
 10  num_rooms                          750 non-null    int64
 11  AirPassengerFaresIndex             750 non-null    float64
 12  consumerPriceIndex                 750 non-null    float64
dtypes: float64(7), int64(4), object(2)
memory usage: 76.3+ KB

In [18]:
df.head(2)

,year,month,originCountry,totalCount,dollarRate,apparent_temperature_mean_celcius,sunshine_duration_seconds,rain_sum_mm,precipitation_hours,num_establishments,num_rooms,AirPassengerFaresIndex,consumerPriceIndex
0,2024,January,India,34399,315.7,30.787654,33462.04969,7.67284,7.012346,4519,55455,178.0,185.5
1,2024,January,Russia,31159,315.7,30.787654,33462.04969,7.67284,7.012346,4519,55455,178.0,251.3

In [19]:
df.corr(numeric_only=True)['totalCount']

year                                -0.118207
totalCount                           1.000000
dollarRate                          -0.111067
apparent_temperature_mean_celcius    0.194328
sunshine_duration_seconds            0.165637
rain_sum_mm                         -0.147451
precipitation_hours                 -0.254570
num_establishments                  -0.166978
num_rooms                           -0.137467
AirPassengerFaresIndex               0.241346
consumerPriceIndex                   0.153506
Name: totalCount, dtype: float64

In [20]:

select = ['year', 'month', 'originCountry', 'dollarRate', 'consumerPriceIndex', 'totalCount']


data = df[select]

data = data.dropna() 
data = data.drop_duplicates() 

print(data.dtypes)
print(data.shape)

year                    int64
month                  object
originCountry          object
dollarRate            float64
consumerPriceIndex    float64
totalCount              int64
dtype: object
(750, 6)

In [21]:
df['month'] = df['month'].str.strip()
df['originCountry'] = df['originCountry'].str.strip()
select = ['year', 'month', 'originCountry', 'dollarRate', 'consumerPriceIndex', 'totalCount']
data = df[select]
data = data.dropna()
data = data.drop_duplicates()

print(data.dtypes)
print(data.shape)

year                    int64
month                  object
originCountry          object
dollarRate            float64
consumerPriceIndex    float64
totalCount              int64
dtype: object
(750, 6)

In [22]:
data.to_csv("cleaned_tourist.csv",index=False)